CC    = gcc
# To allow decompression of gzipped PDB files on the fly, uncomment
# this line
# GUNZIP = -DGUNZIP_SUPPORT
COPT = -fopenmp -DOMP -O3 -xT -w1 -ansi -I./include $(GUNZIP)
OFILES = avp.o RayBox.o
IFILES = raybox.h

LFILES = bioplib/ReadPDB.o \
bioplib/WritePDB.o \
bioplib/fsscanf.o \
bioplib/OpenStdFiles.o \
bioplib/IndexPDB.o \
bioplib/chindex.o \
bioplib/padterm.o 

avp : $(OFILES) $(LFILES)
	$(CC) $(COPT) -o $@ $(OFILES) $(LFILES) -lm -lgomp

.c.o : $(IFILES)
	$(CC) $(COPT) -o $@ -c $<

clean : 
	\rm $(OFILES) $(LFILES)

